body{
  background-image: linear-gradient(to right , white,whitesmoke);
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}
.container{
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 4px;
  padding: 8rem;
  background-color: #f1f1f1;
}
input{
  width: 12rem;
  height: 1.5rem;
  border: none;
  background-color: transparent;
  /* border-radius: 4px; */
  border-bottom: 1px solid limegreen;
  font-size: 15px;
  padding-top: 1.5rem;
}
button{
  margin-top: 1rem;
  border: none;
  background-color:lightcyan;
  height: 2rem;
  border-radius: 6px;
}
input:focus{
  outline: none;
}
button:hover{
  background-color: transparent;
  border: 1px solid hotpink;
  color:hotpink
}